.client-section {
  padding: 60px 15px;
  @media screen and (min-width: 1200px) {
    padding: 94px 15px;
  }
}
.conteiner-client {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.client-title {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  @include main-font(bold, 28px, 1.17);
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include main-font(bold, 42px, 1.17);
  }
}
.client-section ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: -15px;
  list-style: none;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.client-item {
  flex-basis: calc(((100%-30px) - 4 * 15px) / 2);
  margin: 15px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: $activ-color;
    color: $activ-color;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(((100%-30px) - 6 * 15px) / 3);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(((100%-30px) - 12 * 15px) / 6);
    margin: 15px;
  }
}
.client-item a {
  display: block;
  height: inherit;
  color: inherit;
}
.client-item svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}
