.hero-section {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero-img-480-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../images/hero-img-480-2x.jpg);
    }
  }

  @media screen and (min-width: 480px) {
    width: 480px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../images/hero-img-480-2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/hero-img-768-1x.jpg);
    width: 768px;
    background-size: contain;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../images/hero-img-768-2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/hero-img-1200-1x.jpg);
    background-size: cover;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../images/hero-img-1200-2x.jpg);
    }
  }
  // @media screen and (min-device-pixel-ratio: 2),
  //   screen and (min-resolution: 192dpi),
  //   screen and (min-resolution: 2dppx) {
  //   & {
  //     background-image: linear-gradient(
  //         to right,
  //         rgba(47, 48, 58, 0.8),
  //         rgba(47, 48, 58, 0.8)
  //       ),
  //       url(../images/hero-img-480-2x.jpg);
  //   }
  // }
}

// .conteiner-hero {
//   padding: 200px 0;
// }
.hero-text {
  max-width: 360px;
  // width: 646px;
  margin: 0 auto;
  padding: 0;
  color: $text-white-color;
  @include main-font(900, 26px, 1.62);
  // @include main-font(900, 44px, 1.36);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
/*BUTTON-LINK*/
.order-service {
  width: 200px;
  display: block;
  padding: 10px 0;
  border-radius: 4px;
  border: 2px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  // text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $text-white-color;
  background-color: $activ-color;
  transition: $main-transition;
  @include main-font(bold, 16px, 1.87);
  letter-spacing: 0.06em;
  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
}
